a {
	color: purple
}
h1 {
	color: purple
}
body {
	background-color: pink	
}
h3 {
	color: purple
}
div {
	color: lime
}
h2 {
	color: purple
}
h6 {
	color: purple
}
h4 {
	color: purple
}
